
@font-face {
                          font-family: "Firme-Light";
                          src: url('../fonts/Firme Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Firme-MediumItalic";
                          src: url('../fonts/Firme Medium Italic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Firme-Book";
                          src: url('../fonts/Firme Book.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AndesRoundedW03-SemiBold";
                          src: url('../fonts/Andes Rounded W03 SemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Firme-Black";
                          src: url('../fonts/Firme Black.otf') format("opentype");
                        }
                        
.educpaisoverlaytablet {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.educpaisoverlaytablet .group2 {
  background-color    : rgba(255,255,255,0.0);
  width               : 730px;
  margin-right        : -1px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : 1px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.educpaisoverlaytablet .group2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : calc(0.00% + 15px);
  align-items         : center;
  height              : 495px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.educpaisoverlaytablet .group2 .reeducandopaispara {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.educpaisoverlaytablet .group2 .reeducandopaispara .span1 {
  line-height         : 30.0px;
}
.educpaisoverlaytablet .group2 .reeducandopaispara .span2 {
  font-size           : 15.0px;
  line-height         : 18.0px;
}
.educpaisoverlaytablet .group2 .reeducandopaispara .span3 {
  font-size           : 14.0px;
  line-height         : 17.0px;
}
.educpaisoverlaytablet .group2 .reeducandopaispara .span4 {
  font-size           : 16.0px;
  line-height         : 19.0px;
}
.educpaisoverlaytablet .group2 .oficinacobraconta {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : auto;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.educpaisoverlaytablet .group2 .oficinacobraconta .span1 {
  line-height         : 30.0px;
}
.educpaisoverlaytablet .group2 .oficinacobraconta .span2 {
  font-size           : 15.0px;
  line-height         : 18.0px;
}
.educpaisoverlaytablet .group2 .oficinacobraconta .span3 {
  font-size           : 14.0px;
  line-height         : 17.0px;
}
.educpaisoverlaytablet .group2 .dom355nioemocionalu2013 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : auto;
  width               : 361px;
  position            : absolute;
  margin              : 0;
  left                : 369px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.educpaisoverlaytablet .group2 .btnoverlay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 595px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.3s ease-in-out;
}
.educpaisoverlaytablet .group2 .btnoverlay:hover {
  transform           : scale(1.05);
}
.educpaisoverlaytablet .group2 .btnoverlay .rectanglecopy3 {
  background-color    : rgba(248, 167, 107, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.educpaisoverlaytablet .group2 .btnoverlay .voltaraosite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.educpaisoverlaytablet .rectangle {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : -0px;
  width               : 585px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : 0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow            : hidden;
}
.educpaisoverlaytablet .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  bottom              : calc(0.00% + 121px);
  height              : 358px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}