
@font-face {
                          font-family: "Firme-Light";
                          src: url('../fonts/Firme Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Firme-MediumItalic";
                          src: url('../fonts/Firme Medium Italic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Firme-Book";
                          src: url('../fonts/Firme Book.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AndesRoundedW03-SemiBold";
                          src: url('../fonts/Andes Rounded W03 SemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Firme-Black";
                          src: url('../fonts/Firme Black.otf') format("opentype");
                        }
                        
.overlayvideotablet2 {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.overlayvideotablet2 .ctd {
  background-color    : rgba(255,255,255,0.0);
  width               : 655px;
  margin-right        : -0px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : 0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlayvideotablet2 .ctd-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 15px;
  align-items         : center;
  height              : 884px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.overlayvideotablet2 .ctd .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 368px;
  width               : 655px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow            : hidden;
}
.overlayvideotablet2 .ctd .btnoverlay {
  background-color    : rgba(255,255,255,0.0);
  right               : 0%;
  top                 : 0%;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.3s ease-in-out;
}
.overlayvideotablet2 .ctd .btnoverlay:hover {
  transform           : scale(1.05);
}
.overlayvideotablet2 .ctd .btnoverlay .rectanglecopy3 {
  background-color    : rgba(248, 167, 107, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlayvideotablet2 .ctd .btnoverlay .voltaraosite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.overlayvideotablet2 .ctd .potencializandoequi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 511px;
  height              : auto;
  width               : 325px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Book", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(125, 125, 125, 1.0);
  text-align          : left;
  letter-spacing      : 2.89px;
  line-height         : 35.0px;
}
.overlayvideotablet2 .ctd .amentecomplicama {
  background-color    : rgba(255,255,255,0.0);
  top                 : 563px;
  height              : auto;
  width               : 652px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Book", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(125, 125, 125, 1.0);
  text-align          : left;
  letter-spacing      : 2.08px;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}