
@font-face {
                          font-family: "Firme-Light";
                          src: url('../fonts/Firme Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Firme-MediumItalic";
                          src: url('../fonts/Firme Medium Italic.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Firme-Book";
                          src: url('../fonts/Firme Book.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "AndesRoundedW03-SemiBold";
                          src: url('../fonts/Andes Rounded W03 SemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Firme-Black";
                          src: url('../fonts/Firme Black.otf') format("opentype");
                        }
                        
.overlaydesk {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
textarea:focus, input:focus {
  outline             : none;
}
div {
  -webkit-text-size-adjust: none;
}
.overlaydesk .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0%;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato {
  background-color    : rgba(255,255,255,0.0);
  width               : 540px;
  height              : 689px;
  pointer-events      : auto;
  margin-top          : -76px;
  position            : relative;
  margin-bottom       : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.overlaydesk .contato .contato1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 153px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 96.0px;
}
.overlaydesk .contato .txtsobredepoimentos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 244px;
  height              : 445px;
  width               : 403px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .txtsobredepoimentos .mandesuamensagemp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.overlaydesk .contato .txtsobredepoimentos .oumandeumemailpa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 422px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.overlaydesk .contato .txtsobredepoimentos .oumandeumemailpa .span1 {
  text-align          : justify;
}
.overlaydesk .contato .txtsobredepoimentos .oumandeumemailpa .span2 {
  font-family         : "Firme-Black", Helvetica, Arial, serif;
  text-align          : justify;
}
.overlaydesk .contato .forms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : 351px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .nome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .nome .rectangle1 {
  background-color    : rgba(239, 237, 237, 0.6);
  top                 : 0px;
  height              : 50px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .nome .textnome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 30px;
  width               : 498px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.overlaydesk .contato .forms .nome .textnome::placeholder {
  color               : rgba(0, 0, 0, 0.6);
}
.overlaydesk .contato .forms .empresa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 50px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .empresa .rectanglecopy {
  background-color    : rgba(239, 237, 237, 0.6);
  top                 : 0px;
  height              : 50px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .empresa .textemail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 30px;
  width               : 498px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.overlaydesk .contato .forms .empresa .textemail::placeholder {
  color               : rgba(0, 0, 0, 0.6);
}
.overlaydesk .contato .forms .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 150px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .email .rectanglecopy2 {
  background-color    : rgba(239, 237, 237, 0.6);
  top                 : 0px;
  height              : 150px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .email .textmensagem {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 126px;
  width               : 498px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.overlaydesk .contato .forms .email .textmensagem::placeholder {
  color               : rgba(0, 0, 0, 0.6);
}
.overlaydesk .contato .forms .btnenv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 310px;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 202px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.3s ease-in-out;
}
.overlaydesk .contato .forms .btnenv:hover {
  transform           : scale(1.05);
}
.overlaydesk .contato .forms .btnenv .rectanglecopy3 {
  background-color    : rgba(248, 167, 107, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .forms .btnenv .enviar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.overlaydesk .contato .btnoverlay {
  background-color    : rgba(255,255,255,0.0);
  right               : 0%;
  top                 : 0%;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.3s ease-in-out;
}
.overlaydesk .contato .btnoverlay:hover {
  transform           : scale(1.05);
}
.overlaydesk .contato .btnoverlay .rectanglecopy3 {
  background-color    : rgba(248, 167, 107, 1.0);
  top                 : 0px;
  height              : 41px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.overlaydesk .contato .btnoverlay .voltaraosite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Firme-Light", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}